<div id="concerts">
<h1 id="concert-info-title">Upcoming concerts</h1>
<h1 id="concert-info-subtitle">Latest info about concerts from your favourite artists.</h1>
<div id="concerts-info">
  <div class="concert" id="upcoming-concert1">
    <div class="concert-head"></div>
    <h1 class="concert-artist">Rufus Wainwright</h1>
    <h3 class="concert-date">Friday, January 8th 2021</h3>
    <h3 class="concert-time">5PM EST</h3>
  </div>
  <div class="concert" id="upcoming-concert2">
    <div class="concert-head"></div>
    <h1 class="concert-artist">Hansen</h1>
    <h3 class="concert-date">Friday, January 8th 2021</h3>
    <h3 class="concert-time">8PM EST</h3>
  </div>
  <div class="concert" id="upcoming-concert3">
    <div class="concert-head"></div>
    <h1 class="concert-artist">Megadeth</h1>
    <h3 class="concert-date">Saturday, January 9th 2021</h3>
    <h3 class="concert-time">3PM EST</h3>
  </div>
</div>
</div>
