#concert-nav-bar {
  background-color: black;
  overflow: hidden;
  padding: 5px 10px;
  box-shadow: 5px 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  float: right;
}
li a {
  text-align: center;
  padding: 5px 10px;
  color: white;
  font-size: 32px;
  text-decoration: none;
}
li a:hover {
  transition: 0.3s;
  background-color: blue;
}
